{% extends 'base.html.twig' %}

{% block title %}Games{% endblock %}

{% block body %}
    <h1>Games</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ game.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>Duration</th>
                <td>{{ game.duration }}</td>
            </tr>
            <tr>
                <th>PlayerMin</th>
                <td>{{ game.playerMin }}</td>
            </tr>
            <tr>
                <th>PlayerMax</th>
                <td>{{ game.playerMax }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td><img src="/images/{{ game.picture }}"/></td>
            </tr>
            
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('games_index') }}">back to list</a>

    <a class="btn btn-warning" href="{{ path('games_edit', {'id': game.id}) }}">edit</a>

    {{ include('games/_delete_form.html.twig') }}
{% endblock %}
