{% extends 'base.html.twig' %}

{% block title %}Bookings index{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
    <h1>Mes réservations</h1>
    
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Formule</th>
                <th>Jeux choisis</th>
                <th>Réservation</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d') : '' }}</td>
                <td>{{ booking.formulaName }}</td>
                <td>{{ booking.gamesName }}</td>
                <td>{{ booking.bookingStatus }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('bookings_show', {'id': booking.id}) }}">Détails</a>
                    <a class="btn btn-warning" href="{{ path('admin_bookings_edit', {'user': booking.customerId, 'id': booking.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('calendar', {'id': app.user.id }) }}">Faire une réservation</a>
{% endblock %}
