{% extends 'base.html.twig' %}

{% block title %}Bookings index{% endblock %}

{% block body %}
    <h1>Bookings index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CustomerId</th>
                <th>Status</th>
                <th>BeginAt</th>
                <th>EndAt</th>
                <th>FormulaId</th>
                <th>GamesId</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.customerId }}</td>
                <td>{{ booking.status }}</td>
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.formulaId }}</td>
                <td>{{ booking.gamesId }}</td>
                <td>
                    <a href="{{ path('bookings_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('bookings_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('calendar', {'id': app.user.id }) }}">Faire une réservation</a>
{% endblock %}
