{% extends 'base.html.twig' %}

{% block title %}New Bookings{% endblock %}

{% block body %}
    <h1>Réservation du {{day}} / {{month}} / {{year}} </h1>

    {{ include('bookings/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('bookings_index') }}">Retour</a>
{% endblock %}
