{% extends 'base.html.twig' %}

{% block title %}Nos Formules{% endblock %}

{% block body %}
    <h1 class="mt-2 ml-3">Nos Formules</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom du jeu</th>
                <th>Description</th>
                <th>Nombre de jeu</th>
                <th>Tarif</th>
                <th>Informations</th>
            </tr>
        </thead>
        <tbody>
        {% for formula in formulas %}
            <tr>
                <td>{{ formula.id }}</td>
                <td>{{ formula.name }}</td>
                <td>{{ formula.description }}</td>
                <td>{{ formula.nbOfGame }}</td>
                <td>{{ formula.price }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('formulas_show', {'id': formula.id}) }}">Détails</a>
                    <a class="btn btn-warning" href="">Réserver</a>
                    {# <a href="{{ path('formulas_edit', {'id': formula.id}) }}">edit</a> #}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Il n'existe pas de formule. Contactez-nous pour plus d'information</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('formulas_new') }}">Create new</a> #}
{% endblock %}
