{% extends 'base.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    <h1>Users</h1>

    <table class="table">
        <tbody>
            {% if is_granted('ROLE_ADMIN')%}
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            {% endif %}
            <tr>
                <th>Pseudo</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ user.password }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom de famille</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Entreprise (si applicable)</th>
                <td>{{ user.company }}</td>
            </tr>
            <tr>
                <th>N° de téléphone</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>Adresse d'expédition</th>
                <td>{{ user.deliveryAdress }}</td>
            </tr>
            <tr>
                <th>Adresse de facturation</th>
                <td>{{ user.invoiceAdress }}</td>
            </tr>
            <tr>
                {% if is_granted('ROLE_ADMIN')%}
                <th>Type d'accès</th>
                <td>{{ user.roles[0] }}</td>
                {% endif %}
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('admin_users_index') }}">Retour</a>

    <a class="btn btn-warning" href="{{ path('users_edit', {'id': user.id}) }}">Modifier</a>

    {{ include('users/_delete_form.html.twig') }}
{% endblock %}
