{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Nos Images{% endblock %}

{% block body %}
    <h1 class="mt-2 ml-3">Nos Images</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>Image</th>
                <th>Afficher</th>
            </tr>
        </thead>
        <tbody>
        {% for image in images %}
            <tr>
                <td>{{ image.id }}</td>
                <td>{{ image.image }}</td>
                <td><img src="/images/pictures_clients/{{ image.image }}" width="50px"/></td>
                <td><a class="btn btn-success" href="{{ path('admin_pictures_show', {'id': image.id}) }}">Afficher</a></td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune image dans la base</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Ajouter') }}</button>
    {{ form_end(form) }}
{% endblock %}
