{% extends 'base.html.twig' %}

{% block title %}Mes Images{% endblock %}

{% block body %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
    <h1>Mes Images</h1>
        
    <table class="table" width="60px">
        <thead>
            <tr>
                <th>Date</th>
                <th>Formule</th>
                <th>Images</th>
                <th>Action</th>
              
        </thead>
        <tbody>
        
        {% for image in images %}
            <tr>
                <td>{{ image.eventDate ? image.eventDate|date('Y-m-d') : '' }}</td>
                <td>{{ image.formulaName }}</td>
                <td><img src="/images/pictures_clients/{{ image.image }}" width="100px"/></td>
                <td><a class="btn btn-info" href="{{ path('image_show', {'id': image.id}) }}">Afficher</a></td>
            </tr>
            
        
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
