{% extends 'base.html.twig' %}

{% block title %}Games index{% endblock %}

{% block body %}
    <h1>Games index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Duration</th>
                <th>PlayerMin</th>
                <th>PlayerMax</th>
                <th>Picture</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.duration }} min</td>
                <td>{{ game.playerMin }}</td>
                <td>{{ game.playerMax }}</td>
                <td>{{ game.picture }}</td>
                <td>
                    <a class="btn btn-info" href="{{ path('games_show', {'id': game.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('games_edit', {'id': game.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun jeux dans la base</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('games_new') }}">Créer un nouveau jeu</a>
{% endblock %}
