{% extends 'base.html.twig' %}

{% block title %}Nos Jeux{% endblock %}

{% block body %}
    <h1 class="mt-2 ml-3">Nos Jeux</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Description</th>
                <th>Durée (min)</th>
                <th>Nombre de joueurs min</th>
                <th>Nombre de joueurs max</th>
                <th>Image</th>
                <th>Informations</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>{{ game.description }}</td>
                <td>{{ game.duration }} min</td>
                <td>{{ game.playerMin }}</td>
                <td>{{ game.playerMax }}</td>
                <td><img src="/images/{{ game.picture }}" width="100px"/></td>
                <td>
                    <a class="btn btn-info" href="{{ path('games_show', {'id': game.id}) }}">Afficher</a>
                    <a class="btn btn-warning" href="{{ path('games_edit', {'id': game.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucun jeux dans la base</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('games_new') }}">Créer un nouveau jeu</a>
{% endblock %}
