{% extends 'base.html.twig' %}

{% block title %}Jeu{% endblock %}

{% block body %}
    <h1 class="mt-2 ml-3">{{ game.name }}</h1>

<p> Je suis Admin</p>
<p>Je suis user</p>


    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ game.description }}</td>
            </tr>
            <tr>
                <th>Durée (min)</th>
                <td>{{ game.duration }}</td>
            </tr>
            <tr>
                <th>Nombre de joueurs min</th>
                <td>{{ game.playerMin }}</td>
            </tr>
            <tr>
                <th>Nombre de joueurs max</th>
                <td>{{ game.playerMax }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="/images/{{ game.picture }}"/></td>
            </tr>
            
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('games_index') }}">Retour à la liste</a>

    <a class="btn btn-warning" href="{{ path('admin_games_edit', {'id': game.id}) }}">Modifier</a>

    {{ include('games/_delete_form.html.twig') }}
{% endblock %}
